
  body
    {
        background-color:teal;
        height: 1500px;
       
       
/* Used if the image is unavailable */
/* You must set a specified height */

    }
    .h
    {
        float: left;
        border:1px dashed  rgb(224, 248, 211);
        background-color:  rgb(224, 248, 211);
        width:100%;
        font-size: 33px;
        padding-left:35px ;
        color:black;

    }
    .col
        {
          margin-top: 20px;
          float: left;
          width:1300;
        }
    .l
    {
      float: left;
      margin-right: 30px;
      color:rgb(15, 235, 62);
      font-size: 25px;
    }
    .num
    {
        float: left;
        margin-top:5px;
        margin-right: 30px;
        width:200px;
        height: 25px;
        color: rgb(15, 235, 62);
    }
    .btn
    {
        margin-top:5px;
        width:100px;
        height: 25px;
        border-radius: 50px;
        background-color: rgb(15, 235, 62);
        color:white;
        float: left;
        
    }
    #parent
    {
        margin-top: 20px;
        float: left;
        width:1300;
    }
    .bu
    {
        border:1px groove black;
        width: 80px;
        margin-left: 15px;
        margin-top: 15px;
        border-radius: 30%;
        background-color: rgb(204, 219, 236);
        color: rgb(0, 14, 144);
        font-size:15px;
    }  
    #pho
    { 
        margin-top: 20px;
        margin-left:200px ;
        width:900;
        
    } 
    #im
    {
        width:885px;
        height: 500;
        border:10px groove rgb(204, 219, 236);
      
    }
    #show{
        margin-top: 20px;
        margin-left:200px ;
        width:900;
      
        color: rgb(0, 14, 144);
    
    }
    #tb{
        margin-left: 50px;
    }
    table, th, td {
        border:10px groove rgb(204, 219, 236);
        color:black;
        font-style:bold ;
        background-color: cadetblue;
      }
      table{
          width: 100%;
      }























